<div class="container mt-3">
    <div class="row justify-content-md-center">
      <mat-card class="card-center mt-4 mb-5 card-layout">
        <mat-card-header class="card-title">
          <mat-card-title>Tax-Payer info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row mt-3">
                <div class="col">
                    <mat-form-field class="example-form-field input-responsive" appearance="outline">
                        <input matInput type="text" placeholder="Name" [(ngModel)]="taxPayer.name" [formControl]="name" required >
                        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error> 
                    </mat-form-field>
                </div>
            </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-form-field input-responsive" appearance="outline">
                        <input matInput type="text" placeholder="First name" [(ngModel)]="taxPayer.firstName" [formControl]="firstName" required>
                        <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-form-field input-responsive" appearance="outline">
                        <input matInput type="text" placeholder="Address" [(ngModel)]="taxPayer.address" [formControl]="address" required>
                        <mat-error *ngIf="address.invalid">{{getAddressErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-form-field input-responsive" appearance="outline">
                            <input matInput type="text" placeholder="Phone Number" [(ngModel)]="taxPayer.phoneNumber" [formControl]="phoneNumber">
                            <mat-error *ngIf="phoneNumber.invalid">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-form-field input-responsive" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Email" [(ngModel)]="taxPayer.email" [formControl]="email" required>
                            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="text-align: right;">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary"  (click)="saveDataInCSV('simpleData', arrayWithSimpleData)">Confirm</button>
                    </div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>  
    </div>
  </div>
  
