<div class="container" style="width: 22rem;height: 22rem;">
    <div class="row mb" style="background-color: red;color:white;padding-top: 0.5rem;padding-bottom: 0.5rem;">
        <mat-label class="label-mat-font" style="font-weight: normal!important;">Add Representative</mat-label>
    </div>
    <div class="row mt-5">
        <div class="col">
          <mat-form-field class="example-form-field input-responsive" appearance="outline">
            <input matInput type="text" placeholder="PIN">
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: right;margin-top: 7rem;">
            <div class="example-button-row">
              <button mat-raised-button color="primary" style="background-color: red;">Validate Data</button>
              <button mat-raised-button color="primary" style="background-color: red;margin-left: 1rem;margin-right: 0.6rem;">Cancel</button>
             </div>
        </div>
    </div>
</div>
